@import 'reset';


.home {
  background: #BD897E;
  margin: auto;
  position: absolute;
  left: 25%;
}

.block {
  width: 120px;
  background: #FFEED6;
  border-radius: 2px;
  height: 120px;
  border: 3px solid black;
  margin: 5px;
  font-size: 80px;
  text-align: center;
}

.row {
  display: flex;
}
